
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css"><link rel="stylesheet" href="/css/font-awesome.min.css"><link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
	<script src="/js/jquery-2.1.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/blocs.min.js"></script>
    <title>Why IIT Delhi - T&amp;P IIT Delhi</title>

    
<!-- Google Analytics -->
 
<!-- Google Analytics END -->
    
</head>
<body>
<!-- Main container -->
<div class="page-container">
    
<!-- bloc-0 -->
<div class="bloc bg-repeat bgc-ghost-white l-bloc" id="bloc-0">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<a href="index.html"><img src="img/iitd-2.png" class="head-logo" height="56" /></a>
				<h4 class=" tc-black mg-sm">
					<a class="ltc-black" href="index.html">Training &amp; Placement Cell</a><br>
				</h4>
				<h6 class=" mg-clear tc-1">
					 <a class="pull-left" href="http://www.iitd.ac.in" target="_blank">Indian Institute of Technology Delhi</a><br>
				</h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->

<!-- bloc-1 -->
<div class="bloc b-divider l-bloc bgc-white" id="bloc-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<ul class="list-unstyled list-horizontal-layout">
					<li>
						<div class="btn-group btn-dropdown">
							<a href="#" class="btn btn-d btn-sq btn-sm nav-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Why IITD<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="why-iit-delhi.html" class="a-btn a-block">Why IIT Delhi</a>
								</li>
								<li>
									<a href="iit-delhi-students.html" class="a-btn a-block">Students</a>
								</li>
								<li>
									<a href="iitd-academics.html" class="a-btn a-block">Academics</a>
								</li>
								<li>
									<a href="beyond-academics.html" class="a-btn a-block">Beyond Academics</a>
								</li>
								<li>
									<a href="why-iit-delhi.html#alumni" class="a-btn a-block">Alumni</a>
								</li>
								<li>
									<a href="why-iit-delhi.html#rnd" class="a-btn a-block">Reseach &amp; Development</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="departments-and-disciplines.html" class="btn btn-d btn-sq btn-sm nav-button">Departments</a>
					</li>
					<li>
						<a href="rules-and-procedures.html" class="btn btn-d btn-sq btn-sm nav-button">Procedures</a>
					</li>
					<li>
						<a href="downloads.html" class="btn btn-d btn-sq btn-sm nav-button">Downloads</a>
					</li>
					<li>
						<div class="btn-group btn-dropdown">
							<a href="#" class="btn btn-d btn-sq btn-sm nav-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">About Us<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="about-us.html" class="a-btn a-block">About Us</a>
								</li>
								<li>
									<a href="contact-us.html" class="a-btn a-block">Contact Us</a>
								</li>
								<li>
									<a href="team.html" class="a-btn a-block">Central Team</a>
								</li>
								<li>
									<a href="departments-and-disciplines.html" class="a-btn a-block">Department/Nucleus Team</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<ul class="list-unstyled list-horizontal-layout right-align">
					<li>
						<a href="recruiter-login.html" class="btn btn-d btn-sq btn-sm nav-button">Recruiter Login</a>
					</li>
					<li>
						<a href="for-students.html" class="btn btn-d btn-sq btn-sm nav-button">Student Login</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- bloc-17 -->
<div class="bloc bgc-white bg-IITD-Pano-g4 d-bloc" id="bloc-17">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class=" hero-h-std mg-clear tc-white">
					Why IIT Delhi
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- bloc-17 END -->

<!-- bloc-18 -->
<div class="bloc b-divider bgc-ghost-white tc-dim-gray" id="bloc-18">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="mg-md  tc-dim-gray">
					Formally inaugurated with the entry of first batch in August 1961 - The institute has grown from strength to strength.<br>
				</h3>
				<p>
					Even though it is still quite young as compared to some of the global educational institutes, it has been critically acclaimed across borders with its renowned alumni holding international positions. It is now recognized as the No.1 educational institute in India*, with its earlier rankings staying within the top 3 places*. It has also remained within the top 3 places when the educational institutes all across India are compared on the basis of Academic Excellence, Industry Interface, Personality Development, Placement and Selection Process. It is also well known throughout the globe for its brilliant Academic and Employer Reputation**. All these milestone have been achieved in a very short period of time, which has only been possible through its world class faculty and exceptionally bright students. <br> <br>*Outlook India,<br>**QS Rankings
				</p>
				<h4 class="mg-md">
					<br>
				</h4>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						
						<table border="0" width="100%">
							<tr>
								<td>





					<a href="http://www.iitd.ac.in/content/iit-delhi-granted-status-institute-eminence" target="_blank">
						<div class="col-sm-12">	
							<p class="text-center ">
								Institute of Eminence
							</p>
							<div class="panel win-panel bgc-splashed-white">
								
								<div class="panel-body">
									<img src="img/ioe.jpg" class="center-block" height="175" />
								</div>
							</div>
								<h6 class="mg-md tc-dim-gray text-center">
								2018
							</h6>
						</div>
					</a>






								</td>
								<td>



					<a href="https://www.indiatoday.in/bestcolleges/2018" target="_blank">
						<div class="col-sm-12">	
							<p class="text-center ">
								Ranked the
							</p>
							<div class="panel win-panel bgc-splashed-white">
								
								<div class="panel-body">
									<img src="img/indiatoday.jpg" class="center-block" height="175" />
								</div>
							</div>
								<h6 class="mg-md tc-dim-gray text-center">
								2018
							</h6>
						</div>
					</a>







								</td>
							</tr>
							<tr>
								<td>




									<a href="https://www.topuniversities.com/universities/indian-institute-technology-delhi-iitd#wurs" target="_blank">
								<div class="col-sm-12">
									<p class="text-center ">
										Amongst the
									</p>
									<div class="panel win-panel bgc-splashed-white">
										<div class="panel-heading">
											<h1 class="mg-clear  text-center winner1 tc-dim-gray-2">
												Top 200
											</h1>
											<p class="text-center ">
												Universities globally
											</p>
										</div>
										<div class="panel-body">
											<img src="img/QS-Logo.jpg" class="center-block" height="34" />
										</div>
									</div>
								</div>
							</a>




								</td>
								<td>
									<br>


									<a href="https://www.topuniversities.com/university-rankings/brics-rankings/2018" target="_blank">
						<div class="col-sm-12">	
							<p class="text-center ">
								BRICS
							</p>
							<div class="panel win-panel bgc-splashed-white">
								
								<div class="panel-body">
									<img src="img/brics.jpg" class="center-block" height="175" />
								</div>
							</div>
								<h6 class="mg-md tc-dim-gray text-center">
								2018
							</h6>
						</div>
					</a>

									




								</td>
							</tr>
						</table>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-18 END -->

<!-- bloc-19 -->
<div class="bloc bg-Students-BG tc-ash-grey bgc-charcoal b-parallax" id="our_students">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-2">
				<h3 class="mg-md tc-ash-grey">
					Our Students<br>
				</h3>
			</div>
			<div class="col-sm-5">
				<p class=" mg-md">
					• IIT Delhi draws on a reserve of extraordinary talent as a by-product of its selective &amp; stringent exams like  Joint Entrance Exam (JEE) and  for admissions to all the UG programmes and Graduate Aptitude Test in Engineering (GATE) for admissions to all PG programmes. Arguably the toughest examination in the world, the JEE is conducted by the various IITs by a policy of rotation and is the sole criteria for admission in 23 institutes<br>
					• In JEE-2016 more than 12,00,000 students vied for about 9,600 seats. IIT Delhi has an acceptance rate of less than 0.5% as compared to 7.9% for MIT, 4.8% for Stanford and 17.5% for Berkeley for undergraduates. With its challenging problems that test the depth of the aspirant&rsquo;s knowledge, the surprise element of the continually varying pattern and the immense competition, clearing the IIT-JEE is considered the pinnacle of achievement for a student in India.<br>
					• In GATE 2016, more than 9,00,000 students vied for about 1,462 seats in IIT Delhi. Selection of MSc. (Master of Science) Students is through Joint Admission Test (JAM). MDes (Master in Design) students are selected via CEED.<br>
					• Industry 4.0 introduces what has been called the “Smart Factory,” in which cyber-physical systems monitor the physical processes of the factory and make decentralized decisions. The physical systems become Internet of Things, communicating and cooperating both with each other and with humans in real time via the wireless web. Students are ready for this next wave of Industrialisation and are well equipped to solve problems in this domain.
				</p>
			</div>
			<div class="col-sm-5">
				<blockquote>
					<p class=" bq-big">
						IIT Delhi has an acceptance rate of less then 0.5%, as compared to 7.5% for MIT, 4.8% for Stanford and 17.5% for UC Berkeley.
					</p>
				</blockquote> <a href="iit-delhi-students.html" class="btn btn-lg btn-clean btn-celestial-blue">Learn More →</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-19 END -->

<!-- bloc-20 -->
<div class="bloc b-divider bg-lecture-1 tc-charcoal bgc-platinum b-parallax" id="academics">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-2">
				<h3 class="mg-md tc-charcoal">
					Academics
				</h3>
			</div>
			<div class="col-sm-5">
				<p class=" mg-md">
					• IIT Delhi provides science-based engineering education with a view to produce quality engineer-scientists. The curriculum provides broad based knowledge and simultaneously builds a temper for the life long process of learning and exploring. A student needs to do compulsory foundation courses in the areas of basic sciences, humanities and social sciences and engineering sciences apart from departmental requirements. Departmental courses (core and electives) constitute 50% of the total curriculum. Further, students do open category electives to develop broad interdisciplinary knowledge base or to specialize significantly in an area outside his parent discipline. Therefore, the course-structure is extremely flexible, giving due weightage to individual choices and interests.<br>
				</p>
			</div>
			<div class="col-sm-5">
				<blockquote>
					<p class=" bq-big">
						A student needs to do compulsory foundation courses in the areas of basic sciences, humanities and social sciences and engineering sciences apart from departmental requirements.
					</p>
				</blockquote> <a href="iitd-academics.html" class="btn btn-lg btn-clean btn-celestial-blue">Learn More →</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-20 END -->

<!-- bloc-21 -->
<div class="bloc bg-Sports tc-charcoal bgc-white b-parallax" id="beyond_academics">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-2">
				<h3 class="mg-md tc-charcoal">
					Beyond Academics
				</h3>
			</div>
			<div class="col-sm-5">
				<p class=" mg-md">
					• IITD has a very vibrant extra-curricular culture with various boards and committees organizing an entire spectrum of events catering to varied interests and hobbies and also serving as avenues to achieve recognition. Apart from providing an essential break from academic rigor, it is the domain of extra-curricular activities that is frequently credited for the creation of leaders and an imparting of a holistic education.<br>
					• Extra-curricular activities include Music, Dance, Art, Debating, Quizzing, Dramatics, Photography, etc.<br>
					• Apart from these, sports like Hockey, Football, Cricket, Lawn Tennis, Volleyball, Athetic Sports, Table Tennis, Swimming, Badminton, Squash, Billiards, Pool, etc.<br>
					• Beyond ECA and Sports, festivals (like Rendezvous, Tryst, Lierati, Sportech) are organised by the institute, giving a platform to the students to showcase their talents and abilities. <br>
				</p>
			</div>
			<div class="col-sm-5">
				<blockquote>
					<p class=" bq-big">
						Extra-curricular students&rsquo; activities range from sports and student publications to the entire gamut of the performing arts – music, dramatics, photography, fine arts, debating and much more.
					</p>
				</blockquote> <a href="beyond-academics.html" class="btn btn-lg btn-clean btn-celestial-blue">Learn More →</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-21 END -->

<!-- bloc-22 -->
<div class="bloc tc-charcoal b-divider bgc-ghost-white" id="alumni">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-2">
				<h3 class="mg-md tc-charcoal">
					Alumni
				</h3>
			</div>
			<div class="col-sm-10">
				<p class="mg-sm">
					IITians in general and alumni of IIT delhi in particular have excelled and acquired positions of eminence in every field imaginable - from engineering to finance to management to even arts. Significantly, they have also acted as instruments of change wherever they have been- and apart from sincerity, hard work, brilliance and entrepreneurial chutzpah, they have demonstrated social responsibility, public service and now, increasingly, a responsibility towards their nation and their alma mater.
				</p>
				<p class="mg-sm">
					A few out of many who have made their alma mater proud are
				</p>

			</div>
		</div>
		<p><img src="img/Alumni-iitd.jpg" width="100%"></p>
	</div>
</div>
<!-- bloc-22 END -->

<!-- bloc-23 -->
<div class="bloc bgc-white l-bloc bg-Research-and-Development b-parallax tc-charcoal" id="rnd">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-2">
				<h3 class="mg-md">
					Research &amp; Development
				</h3>
			</div>
			<div class="col-sm-10">
				<p class="mg-sm">
					The Institute is actively involved in collaborative research programmes with international organizations/universities to remain at the forefront of scientific and technological developments and to share this knowledge. A large number of collaborative Research Projects are under operation with Institutes/Organizations of many countries. Major research activities have also been undertaken in the areas of national importance.<br><br>
					In an effort to encourage research and development at grass root level, undergraduate students at the Institute are encouraged to inculcate their activities towards research while pursuing studies. To achieve this, a scheme called Summer Undergraduate Research Award (SURA) was introduced. Under this scheme, students are required to submit the project proposals in association with identified Faculty of the Department/Centre to act as an Administrative Facilitator and a Guide.<br><br>
					Various units within IIT Delhi like Industrial Ressearch &amp; Development Unit (IRD), Foundation For Innovation And Technology Transfer (FITT), etc, are set up to facilitate Research, Development and Consulting. Faculty and students are actively involved in working on innovating cutitng edge technologies.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-23 END -->
	
<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- Footer - bloc-63 -->
<div class="bloc b-divider bgc-ghost-white l-bloc" id="bloc-63">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-2">
				<img src="img/iitd-2.png" class="head-logo" height="48" />
				<h5 class="mg-clear">
					<a class="ltc-black" href="index.html">Training &amp; Placement Cell, IIT Delhi</a><br>
				</h5>
			</div>
			<div class="col-sm-2">
				<h3 class="mg-md bloc-mob-center-text  tc-dim-gray">
					<a class="a-btn a-block bloc-mob-center-text" href="why-iit-delhi.html">Why IITD</a>
					<a class="a-btn a-block bloc-mob-center-text" href="iit-delhi-students.html">Students</a>
					<a href="iitd-academics.html" class="a-btn a-block bloc-mob-center-text">Academics</a>
					<a href="beyond-academics.html" class="a-btn a-block bloc-mob-center-text">Beyond Academics</a>
					<a href="why-iit-delhi.html#alumni" class="a-btn a-block bloc-mob-center-text">Alumni</a>
					<a href="why-iit-delhi.html#rnd" class="a-btn a-block bloc-mob-center-text">R&amp;D</a><br>
				</h3>
			</div>
			<div class="col-sm-2">
				<h3 class="mg-md bloc-mob-center-text  tc-dim-gray">
					<a href="departments-and-disciplines.html" class="a-btn a-block bloc-mob-center-text">Departments</a>
					<a class="a-btn a-block bloc-mob-center-text" href="rules-and-procedures.html">Procedures</a>
					<a href="downloads.html" class="a-btn a-block bloc-mob-center-text">Downloads</a>
					<a class="a-btn a-block bloc-mob-center-text" href="past-recruiter.html">Past Recruiters</a>
					<a class="a-btn a-block bloc-mob-center-text" href="media.html">Media</a>
				</h3>
			</div>
			<div class="col-sm-2">
				<h3 class="mg-md bloc-mob-center-text  tc-dim-gray">
					<a href="recruiter-login.html" class="a-btn a-block bloc-mob-center-text">Recruiter Login</a>
					<a href="for-students.html" class="a-btn a-block bloc-mob-center-text">Student Login</a><br>
					<a class="a-btn a-block bloc-mob-center-text" href="about-us.html">About Us</a>
					<a class="a-btn a-block bloc-mob-center-text" href="contact-us.html">Contact Us</a>
					<a href="#" class="a-btn a-block bloc-mob-center-text dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Team<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="team.html" class="a-btn a-block">Central Team</a>
								</li>
								<li>
									<a href="departments-and-disciplines.html" class="a-btn a-block">Department/Nucleus Team</a>
								</li>
							</ul>
				</h3>
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md  text-right tc-dim-gray">
					Training &amp; Placement Office
				</h3>
				<p class="text-right">
					3rd Floor, Synergy Building <br>Indian Institute of Technology Delhi <br>New Delhi - 110016 <br> <br><strong>Phone</strong> <br><a href="tel:+911126591731">+91-11-26591731</a> <br><a href="tel:+911126591732">+91-11-26591732</a> <br> <br><strong>Email</strong> <br><a href="mailto:placement@admin.iitd.ac.in">placement@admin.iitd.ac.in</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-63 END -->

<!-- Footer - bloc-64 -->
<div class="bloc bgc-white l-bloc" id="bloc-64">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-64 END -->

</div>
<!-- Main container END -->
    

</body>
</html>
